body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
  padding-top: 20px;
  padding-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

section {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 1158px;
  max-width: 1128px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

header {
  color: #2e2f42;
}

.website-header {
  width: 1158px; 
  border-bottom: 1px solid #e7e9fc
}

.header-container {
  width: 1158px; 
  display: flex;
  justify-content: space-between;
}

.header-nav {
  align-items: center;
}

.logo {
  margin-right: 76px;
}

.logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
}

.logo-studio {
  color: #2e2f42;
}

.header-nav,
.contact-info {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  gap: 76px;
}

.nav-list,
.contact-list {
  display: flex;
  gap: 40px;
}

.contact-info {
  font-style: normal;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.contact-link {
  letter-spacing: 0.02em;
  color: #434455;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
  text-decoration: underline;
}

.hero,
footer {
  background-color: #2e2f42;
}

.hero {
  padding: 188px 0;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-title {
  font-family: inherit;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
}

.hero-button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  margin-top: 20px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  min-width: 169px
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.team {
  background-color: #f4f4fd;
}

.section-title {
  font-family: inherit;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.features-list,
.team-list,
.portfolio-list {
  display: flex;
  gap: 24px;
}

.feature-item {
  width: 264px;
}

.feature-title {
  margin-bottom: 8px;
}

.feature-title,
.team-name,
.portfolio-title {
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.card-bottom-text {
  padding: 32px 0;
  
}

.team-member {
  background-color: #ffffff;
  text-align: center;
  padding: 16px;
  border-radius: 0px 0px 4px 4px;
}

.feature-text,
.team-role,
.portfolio-category {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-list {
  flex-wrap: wrap;
  row-gap: 48px;
}

.portfolio-item {
  padding-bottom: 20px;
  flex: 1 1 calc(33.333% - 16px);
  box-sizing: border-box;
}

.portfolio-description {
  padding: 32px 16px;
  border-left: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.website-footer {
  padding: 100px 0;
}

.footer-container {
  flex-direction: column;
  padding: 40px 0;
}

.footer-text {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-studio {
  color: #f4f4fd;
}
